main{
  margin-top: 0
}

.description{
  padding: 1em
}

.painting-title {
  text-align: justify;
  font-style: italic;
  font-size: 1em;
  color: gray;
  margin: 0 0.5em;
}

.painting-title-author{
  text-align: right;
  color: gray;
  margin: 0 0.5em;
}

.painting-details{
  text-align: center;
  margin-top: 1em;
}

.painting-price{
  text-align: center;
}
